Package: kr.hack.allbypass
Name: allbypass
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: <root@vuln.kr>
Author: <root@vuln.kr>
Section: Tweaks
